/* Questao 1 */
header {
    background-color: blue;
}

/* Questao 2 */
h1, h2 {
    font-family: serif;
}

/* Questao 3 */
nav a {
    font-weight: bold;
}

/* Questao 4 */
.container {
    padding: 20px;
}

/* Questao 5 */
#conteudo-principal {
    line-height: 1.5;
}

/* Questao 6 */
#contact form {
    border: 1px solid gray;
    padding: 10px;
}

/* Questao 7 */
p {
    color: green;
}